.BannerTabSection {
    position: relative;
}

/* 
.react-datepicker-wrapper {
    border: 1px solid #dbdbdb !important;
    border-radius: 4px;
    width: 138px;
    height: 32px;
    font-size: 12px;
    color: #a0a9a8;
    z-index:999;
    border:none
  }
  input{
    outline:none !important;
  }
  
  [className*="datepicker"] input {
    position: relative;
    top: 6px;
    left: 10px;
  }
 */

.TabImg{
padding:150px 0px 340px;
background-size: cover;
background-position: top;
}

.BannerContent span {
    color: #f25928;
    font-size: 52px;
    font-family: 'Condiment', cursive;
    position: relative;
    top: 35px;
}
.BannerContent h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
   margin:0px;
}
.BannerContent p{
    color:#fff;
    font-size:17px;
    margin:0px;
}

.BannerContent {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}


/*======banner search=========*/
.bannerSearchWrapper {
    background-color: #fff;
    border-radius: 100px;
    padding: 0px 10px 0px 0px;
    margin: 38px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    overflow: hidden;
}

.bannerSearchWrapper .iconwithText {
    display: flex;
    align-items: center;
}
.whereto, .selectdate, .selectperson {
    flex: 0 0 26%;
}
.selectdate {
    flex: 0 0 28%;
}
.bannerSearchWrapper .Text .toptext {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}
.bannerSearchWrapper .Text .bottomtext{
    font-size:14px;
    font-weight: 500;
    color: #000;
}
.bannerSearchWrapper .iconwithText .icon {
    background-color: rgba(242, 89, 40, 0.15);
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 34px;
    border-radius: 100px;
    margin-right: 20px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
}
.bannerSearchWrapper .whereto, .bannerSearchWrapper .selectdate, .bannerSearchWrapper  .selectperson{
    padding: 16px 0px 16px 20px;
    background-color:#fff;
    border-radius: 3.125rem;
    position: relative;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.bannerSearchWrapper .whereto::after, .bannerSearchWrapper .selectdate::after {
    content: "";
    background-color: #D9D9D9;
    width: 0.5px;
    height: 45px;
    position: absolute;
    right: -5px;
    bottom: 0;
    top: 13px;
}
.bannerSearchWrapper .selectdate, .bannerSearchWrapper  .selectperson{
  padding:16px 0px;
  
}
.bannerSearchWrapper .whereto:hover, .bannerSearchWrapper .selectdate:hover, 
.bannerSearchWrapper  .selectperson:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 4px 0px 10px -4px;
}



.bannerSearchWrapper .whereto .iconwithText .icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-geo-alt-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z'/%3E%3C/svg%3E");
}
.bannerSearchWrapper .selectdate .iconwithText .icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-calendar3' viewBox='0 0 16 16'%3E%3Cpath d='M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z'/%3E%3Cpath d='M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/%3E%3C/svg%3E");
}
.bannerSearchWrapper .selectperson .iconwithText .icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E");
}

.bannerSearchWrapper .SearchBtn {
    flex: 0 0 10%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.SearchBtn .searchIcon {
    border: 0px;
    background-color: #F25928;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 100px;
    background-size:25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
}



/*=======search for mobile=======*/
.formobile{
    display:none;
}
.searchFixedWrapper {
    max-width: 500px;
    margin: 40px auto 0px;
}
.searchinputformobile {
    width: 100%;
    height: 55px;
    border-radius: 30px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    outline: none;
    align-items: center;
}

.searchinputformobile input {
    border: 0px;
    width: 100%;
    font-size: 15px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
/* .searchinputformobile input::placeholder{
    color: #000;
} */
.searchFixedWrapper {
    max-width: 500px;
    margin: 40px auto 0px;
}
.SearchIconInput{
    border: 0px;
    background-color: transparent;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:16px;
}
.offcanvas-header {
    padding-bottom: 0px;
}
.SearchPopupForMob h5 {
    font-size: 15px;
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: 600;
    margin:0px;
}

.searchinputformobile.popupSearchbar {
    border: 1px solid #b3b3b3;
    height: 44px;
}
 

.SelectdateField, .SelectpeopleField{
    border: 1px solid #b3b3b3;
    height: 44px;
    width: 100%;
    border-radius: 30px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    outline: none;
    align-items: center;
    margin:15px 0px 0px;
}
.SelectdateField input, .SelectpeopleField input {
    border: 0px;
    width: 100%;
    font-size: 15px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.calendarIcon, .UserIcon{
    border: 0px;
    background-color: transparent;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin-right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' class='icon__3A1i'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 2c.28 0 .5.22.5.5V3h6v-.5a.5.5 0 011 0V3h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5c0-1.1.9-2 2-2h1v-.5c0-.28.22-.5.5-.5zM13 4v.5a.5.5 0 001 0V4h1a1 1 0 011 1v1H4V5a1 1 0 011-1h1v.5a.5.5 0 001 0V4h6zM4 7v8a1 1 0 001 1h10a1 1 0 001-1V7H4z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.UserIcon{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E") !important;
}
.offcanvas{
    --bs-offcanvas-height:290px;
}
.PopupSubmitBtn button {
    border: 0px;
    background-color: #f25928;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    padding: 10px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.PopupSubmitBtn button:hover {
    background-color: #3DAAD5;
}

/*=======search for mobile=======*/

.mobileNone{display:none;}
.desktopNone {display:block;}

@media only screen and (min-width:992px){
.mobileNone{display: block;}
.desktopNone {display: none;}
}

@media screen and (max-width:1199px) {
    
}



@media screen and (max-width:1024px) {
    
}



@media screen and (max-width:991px) {
    .BannerContent h1 {
        font-size: 50px;}
        .BannerContent span {
            font-size: 40px;
            top: 25px;
        }
        .BannerContent p{
            font-size:14px;
        }
    .TabImg{
        padding:200px 0px;
    }
    .dubaimemoriesIn h2{
        font-size:40px;
    }
    .bannerSearchWrapper .Text .bottomtext{
        font-size:17px;
    }
    .fordesktop{
        display: none;
    }
    .formobile{
        display: block;
    }
    .searchSticky .formobile{
        position: fixed;
        top:0px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 7px;
        z-index:99;
        
    }
    .searchSticky .formobile .searchFixedWrapper{
        max-width:100%;
        margin:0px;
    }
    .searchSticky .formobile .searchFixedWrapper .searchinputformobile{
        box-shadow: 0 0.0625rem 0.5rem rgba(0,0,0,.2);
        height:40px;
    }
}


@media screen and (max-width:767px) {
    .TabImg {
        padding: 250px 0px 150px;
    }
    .bannerSearchWrapper{
        flex-direction: column;
    }
    .bannerSearchWrapper .selectdate, .bannerSearchWrapper .whereto{
        border-right:0px;
    }
    .whereto, .selectdate, .selectperson {
        flex: 1;
        width: 100%;
        /* border-bottom: 1px solid rgba(217,217,217,0.40); */
        padding: 8px 0px;
    }
    .bannerSearchWrapper .whereto, .bannerSearchWrapper .selectdate, .bannerSearchWrapper .selectperson{
        padding:7px;
        margin-bottom:4px;
    }
    .bannerSearchWrapper .whereto::after, .bannerSearchWrapper .selectdate::after{
        display: none;
    }
    .bannerSearchWrapper {
        padding: 15px;
        margin: 20px 0px 0px;
        border-radius: 10px;
        align-items: start;
    }
    .bannerSearchWrapper .SearchBtn {
        flex: 1;
        width: 100%;} 
}


@media screen and (max-width:575px) {
    .BannerContent h1 {
        font-size: 30px;
    }
    .BannerContent span {
        font-size: 30px;
        top: 15px;
    }
}