/*choose DPT*/
.chooseDpt {
    position: relative;
    background-color: #FAFDFF;
    padding: 65px 0px;
}
.hdwithtext {
    text-align: center;
    margin: 0px 0px 50px;
}
.hdwithtext h2 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    margin: 0px 0px 11px;
}
.hdwithtext p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
}

.chooseDpt p{
    color:#000;
}

.chooseDptWrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.chooseDptWrapper .chooseBox{
    height:100%;
}
.chooseDptWrapper .chooseBox .Icon {
    background-color: rgba(61, 170, 213, 0.05);
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.chooseDptWrapper .chooseBox .Icon img{
    width: 70px;
}
.chooseDptWrapper .chooseBox h3{
    font-size: 20px;
    font-weight: 600;
    color:#000;
    margin:15px 0px;
}
.chooseDptWrapper .chooseBox p {
    font-size: 16px;
}







@media screen and (max-width:1199px) {
        
}



@media screen and (max-width:1024px) {
    
}



@media screen and (max-width:991px) {
    .chooseDptWrapper .chooseBox h3 {
        font-size: 18px;
        margin: 10px 0px;
    }
    .chooseDptWrapper .chooseBox p{
        font-size:14px;
    }
  .chooseDpt{
        padding:50px 0px;
    }
    .hdwithtext h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width:767px) {
   .chooseDptWrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .hdwithtext p{
        font-size:14px;
    }
}


@media screen and (max-width:575px) {
  .chooseDptWrapper{
        grid-template-columns: repeat(1,1fr);
        gap:20px;
    } 
}